{%extends 'base.html'%}
{% load crispy_forms_tags %}
{%block content%}
{%load rest_framework%}


<div class="content-section">
    <form method="POST" action="{% url 'StudentSchoolInfo' %}" enctype="multipart/form-data" aut>
        {%csrf_token%}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Application Form</legend>
            {% render_form serializer %}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="Next">Submit</button>
        </div>
     
    </form>
    
</div>

{%for student in students %}

{{student.idno}}
{{student.school_name}}

{%endfor%}

{%endblock%}