{%extends 'base.html'%}

{%block content%}
<div>
  {%for message in messages%}
{{message}}
{%endfor%}
    <table >
        
        <tr>
          <th>Name</th>
          <th>School</th>
          <th>Year of Completion</th>
          <th>Address</th>
          <th> Phone No</th>
          <th> Email</th>   
          <th> Status</th>     
          <th> Action</th>
          
        </tr>
        {%for qs in qs1%}
          <tr align="center">
            <td> {{qs.studentId.first_Name}} {{qs.studentId.last_Name}}</td>
            <td> {{qs.studentId.school_name}}</td>
            <td> {{qs.studentId.year_of_completion}} </td>
            <td> {{qs.studentId.address}} </td>
            <td> {{qs.studentId.phone_No}} </td>            
            <td> {{qs.studentId.email}} </td>
            <td> {{qs.status}} </td>
            <td><a href="{% url 'applicantListapproval' qs.id %}"><button class='btn btn-sm btn-outline-info' type="button">Approve </button></a>  </td>            
            </tr>
  
            {%endfor%}
  
        </table>
        

        {%endblock%}