{%extends 'base.html'%}

{%block content%}

<h1>My Profile</h1>
<table >
        
    <tr>
        <th>Field</th>
        <th>Value</th>                   
    </tr>        
    <tr >
            <td align="center">Name</td>
            <td align="left"> {{prof.first_Name}}  {{prof.last_Name}}  </td>                                  
    </tr>
    <tr >
        <td align="center">Address</td>
        <td align="left"> {{prof.phone_No}} </td>                              
    </tr>
    <tr >
        <td align="center">Phone No</td>
        <td align="left"> {{prof.phone_No}} </td>                              
    </tr>
    <tr >
        <td align="center">Email</td>
        <td align="left">{{prof.email}}  </td>                              
    </tr>
    <tr >
        <td align="center">School Name</td>
        <td align="left"> {{prof.school_name}} </td>                              
    </tr>
    <tr >
        <td align="center">School Address</td>
        <td align="left">{{prof.school_address}}  </td>                              
    </tr>
    <tr >
        <td align="center">Academic Level</td>
        <td align="left"> {{prof.academic_level}} </td>                              
    </tr>
    <tr >
        <td align="center">Year of Completion</td>
        <td align="left">{{prof.year_of_completion}}  </td>                              
    </tr>
    <tr >
        <td align="center">Reason for application</td>
        <td align="left">{{prof.reason_for_application}}  </td>                              
    </tr>
    <tr >
        <td align="center">National Id</td>
        <td align="left"><img src="{{prof.national_id.url}} "  width="100" height="=100"></td>                              
    </tr>
    <tr >
        <td align="center">Birth Certificate</td>
        <td align="left"><img src="{{prof.birth_certificate.url}} "  width="100" height="=100"></td>                              
    </tr>
    <tr >
        <td align="center">Recomendation</td>
        <td align="left"><img src="{{prof.recomendation.url}} "  width="100" height="=100"></td>                              
    </tr>
    <table>
        <tr align="center">
            <td><a href="{% url 'profileupdate' prof.user_id %}"><button class='btn btn-sm btn-outline-info' type="button">Edit </button></a>  </td>      
            
        </tr>
    </table>
    
</table>
        

{%endblock%}