{%extends 'base.html'%}

{%block content%}
<div>
  {%if user.is_authenticated and  user.is_sponsor%}
  Only students approved by the staff will be listed here
  {%endif%}
    <table 
        
        <tr>
          <th> Id Number</th>
          <th> Name</th>
          <th>Phone No</th>
          <th>Address</th>
          <th>Email</th>
          <th>Staff Approval Status</th>
          <th>Sponsor</th>
          <th>Action</th>
          
        </tr>
        {%for student in students %}
          <tr align="center">
            <td> {{student.idno}} </td>
            <td> {{student.firstName}} {{student.lastName}}</td>
            <td> 0{{student.phone_No}} </td>
            <td> {{student.address}} </td>
            <td> {{student.email}} </td>
            <td> {{student.staffapproval}} </td>
            <td> {{student.sponsorshipStatus}} </td>
            <td> <a href="{% url 'ApplicationDetail'  student.id %}"><button class='btn btn-sm btn-outline-info' type="button">View More </button></a>  </td>
            </tr>
  
            {%endfor%}
  
        </table>
        

        {%endblock%}