{%extends 'base.html'%}

{%block content%}
<div>
    <table 
        
        <tr>
          <th> Name</th>
          <th>Phone No</th>
          <th>School</th>
          <th>Academic Level</th>
          <th>Year of Completion</th>
          <th>Reason For applying</th>
          <th>Sponsor</th>
          <th>Status</th>
          
        </tr>
        {%for student in students%}
          <tr align="center">
            <td> {{student.first_Name}} {{student.last_Name}}</td>
            <td> 0{{student.phone_No}} </td>
            <td> {{student.school_name}} </td>
            <td> {{student.academic_level}} </td>
            <td> {{student.year_of_completion}} </td>
            <td> {{student.reason_for_application}} </td>
            <td> {{student.sponsor}} </td>
            <td> {{student.sponsor}} </td>
            </tr>
  
            {%endfor%}
  
        </table>
        {%for message in messages%}
        {{message}}
        {%endfor%}

        {%endblock%}