{%extends 'base.html'%}

{%block content%}
<div>
    <table 
        
        <tr>
          <th> ID</th>
          <th> Name</th>
          <th>Phone No</th>
          <th>Address</th>
          <th>Email</th>
          <th>Staff Approval Status</th>
          <th>Sponsor</th>
          <th>Action</th>
          
        </tr>
        {%for student in students%}
          <tr align="center">
            <td> {{student.id}} </td>
            <td> {{student.first_Name}} {{student.last_Name}}</td>
            <td> 0{{student.phone_No}} </td>
            <td> {{student.address}} </td>
            <td> {{student.email}} </td>
            <td> {{student.applications.staffApproval}} </td>
            <td> {{student.applications.sponsorshipStatus}} </td>
            <td> <a href="{% url 'StudentDetail' student.id %}"><button class='btn btn-sm btn-outline-info' type="button">View More </button></a>  </td>
            </tr>
  
            {%endfor%}
  
        </table>
        {%for message in messages%}
        {{message}}
        {%endfor%}

        {%endblock%}